{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

  <div class="menu-contact">
             <div class="grid grid--2-col grid--2-col-desktop">
<div class="grid__item contact-form">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size-menu }}">{{ section.settings.heading | escape }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    
<div class="globo-formbuilder" data-id="MjM5Nzc="></div>

   
</div>

    <div class="grid__item contact-information">
      <div class="grid grid--2-col grid--2-col-desktop">
    <div class="grid__item">
      <div class="address">
        <div class="title-info title">
          {% if section.settings.title-address != blank  %}
          {{ section.settings.title-address }}
            {% endif %}
        </div>
        <div class="content">
           {% if section.settings.add-content != blank  %}
          {{ section.settings.add-content }}
           {% endif %}
        </div>
      </div>
      </div>

           <div class="grid__item">
             <div class="address">
               <div class="title-help title">
                  {% if section.settings.title-info != blank  %}
                 {{ section.settings.title-info }}
                   {% endif %}
               </div>
               <div class="content">
                 {% if section.settings.content != blank  %}
                 {{ section.settings.content }}
                     {% endif %}
                 <div class="link-menu">
                 {%- for block in section.blocks -%}
                   {% if block.settings.main-menu == 'Contact'  %} 
                {%- for link in block.settings.menu.links -%}
                 <li> <a href="{{ link.url }}" class="link-title-block-menu">
                  {{ link.title }} 
                </a> </li>
                    {%- endfor -%}
                  {% endif %} 
                   {%- endfor -%}
                 </div>
               </div>
             </div>
           </div>
     </div>
      </div>
</div>
           </div>


